body {
    margin: 1em;
    padding: 0;
}

#terminal {
    margin: 1ch;
    padding: 1em;
    width: 80ch;
    height:40ch;
    background-color: black;
    color: white;
    font-weight: bold;
    overflow-y: scroll;
    overflow-wrap: anywhere;
}